language: ruby

rvm:
  - 2.0.0
  - 1.9.3
  - 1.9.2
  - 1.8.7

gemfile:
  - Gemfile
  - gemfiles/activemodel-4.0.gemfile

matrix:
  exclude:
  - rvm: 1.8.7
    gemfile: gemfiles/activemodel-4.0.gemfile
  - rvm: 1.9.2
    gemfile: gemfiles/activemodel-4.0.gemfile

script: "echo 'COME ON!' && bundle exec rake spec"
