#content pre, #content code, #content tt {
  font-family: Monaco, Inconsolata, Consolas, monospace;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  margin:  0;
}

#content h1 {
  font-family: Pacifico, Helvetica, sans-serif;
  font-size: 4em;
  margin-bottom: 0.3em;
}

#content h2 {
  padding: .855em 0
}

#content h3 {
  padding: .956em 0
}

#content h4 {
  padding: 1.161em 0
}

#content h5,#content h6 {
  padding: 1.238em 0
}
