%h2 Create new organization

%form{ url: "/organizations", method: 'post' }
  - if @organization.response_errors.any?
    %ul.errors
      %p The organization could not be created:
      %ul
        - @organization.response_errors.each do |error|
          %li= error

  %p
    %label{ for: 'name' } Name
    %input{ type: 'text', name: 'organization[name]', value: @organization.name, id: 'name' }
  %p
    %button{ type: 'submit' } Create

%hr
%h3 Current organizations
- if @organizations.any?
  %ul.records
    - @organizations.each do |organization|
      %li
        %a{ href: "/organizations/#{organization.id}" }= organization.name
- else
  %p.no-records There are currently no organizations.
