%h1= @organization.name

%h2 Users
%ul.details
  - @organization.users.each do |user|
    %li
      %a{ href: "/users/#{user.id}" }= user.fullname

%hr
.back
  %p Back to <a href="/organizations">organizations</a>
