%h2
  %a{ href: '/organizations' } Organizations
%pre= File.read(File.join(settings.root, "app/models/organization.rb"))

%hr

%h2
  %a{ href: '/users' } Users
%pre= File.read(File.join(settings.root, "app/models/user.rb"))
