!!! 5
%head
  %title Grape + Her example
  %link{ rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Pacifico" }
  %link{ type: "text/css", rel: "stylesheet", media: 'screen', href: stylesheet_path("application") }
%body
  #wrap
    %header#main-header
      %h1
        %a{ href: '/' }
          %strong
            Her
          %span
            Grape + Her example
      %hr
    #content
      = yield
  %footer#main-footer
    %pre
      = $strio.string
