@import "reset.css";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #eee;
  color: #000;
  padding: 30px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 150%;
}

input, textarea, select, option, button {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 100%;
}

hr {
  display: none;
}

a {
  color: #1b49ff;
}

#wrap {
  background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border: 1px solid #bbb;
  border-radius: 4px;
  overflow:hidden;
}

#main-header {
  font-size: 130%;
  background: #ddd;

  strong {
    font-family: Pacifico, serif;
    font-size: 250%;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    color: rgba(0,0,0,0.4);
    font-weight: normal;
    margin: 0 0 0 20px;
    font-size: 80%;
  }

  a {
    display: block;
    padding: 30px 20px;
    color: #000;
    text-decoration: none;

    &:hover {
      background: rgba(0,0,0,0.05);
    }
  }
}

#main-footer {
  pre {
    padding: 20px;
    color: rgba(0,0,0,0.75);
    line-height: 1.4;
    font-size: 80%;
  }
}

#content {
  padding: 30px;

  h1 {
    margin: 25px 0 15px;
    font-size: 150%;
    &:first-child { margin-top: 0; }
  }

  h2 {
    margin: 25px 0 15px;
    font-size: 120%;
    &:first-child { margin-top: 0; }
  }

  h3 {
    margin: 25px 0 15px;
    font-size: 110%;
    &:first-child { margin-top: 0; }
  }

  pre {
    background: #f9ffeb;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 15px;
  }

  form {
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #ddd;

    p {
      margin: 0 0 15px;
    }

    label {
      display: block;
      margin: 0 0 6px;
      cursor: pointer;
    }

    input[type=text], input[type=email] {
      padding: 10px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 2px;
    }

    button {
      cursor: pointer;
      background: #1b49ff;
      color: #fff;
      padding: 8px 11px;
      border-radius: 3px;
      border: 1px solid rgba(0,0,0,0.3);
    }

    .errors {
      padding: 15px;
      background: #fcc;
      border: 1px solid rgba(0,0,0,0.2);
      margin: 0 0 20px;
      font-size: 90%;
      color: #900;

      li {
        margin: 0 0 5px 20px;
        list-style: disc;
        &:last-child { margin-bottom: 0; }
      }
    }
  }

  .records {
    li {
      list-style: disc;
      margin: 0 0 10px 20px;

      &:last-child { margin-bottom: 0; }
    }
  }

  .no-records {
    color: rgba(0,0,0,0.8);
    font-style: italic;
    font-size: 80%;
  }

  .details {
    margin: 0 0 20px;

    li {
      list-style: disc;
      margin: 0 0 6px 20px;

      &:last-child { margin-bottom: 0; }
    }
  }

  .back {
    border-top: 1px solid #ddd;
    padding: 15px 0 0;
    margin: 30px 0 0;
    font-size: 85%;
  }
}
