%h2 Create new user

%form{ url: "/users", method: 'post' }
  - if @user.response_errors.any?
    .errors
      %p The user could not be created:
      %ul
        - @user.response_errors.each do |error|
          %li= error

  %p
    %label{ for: 'email' } Email
    %input{ type: 'email', name: 'user[email]', value: @user.email, id: 'email' }
  %p
    %label{ for: 'fullname' } Full Name
    %input{ type: 'text', name: 'user[fullname]', value: @user.fullname, id: 'fullname' }
  %p
    %label{ for: 'organization_id' } Organization
    %select{ name: 'user[organization_id]', id: 'organization_id' }
      - Organization.all.each do |organization|
        %option{ value: organization.id }= organization.name
  %p
    %button{ type: 'submit' } Create

%hr
%h3 Current users
- if @users.any?
  %ul.records
    - @users.each do |user|
      %li
        %a{ href: "/users/#{user.id}" }= user.fullname
- else
  %p.no-records There are currently no users.
